/*Estilização Geral*/
html {
    background-color: #0D1117;
    font-family: "Century Gothic";
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

/*Estilização das Páginas Principais*/
.header-escopo {
    background-color: #07090c;
    display: flex;
}

.header-escopo h1 {
    font-size: 24px;
    padding: 10px 20px;
}

.div-escopo {
    width: 100vw;
}

.nav-ul {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 0px;
    margin: 30px;
}

.nav-ul a{
    white-space: nowrap;
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.footer-escopo {
    background-color: #07090c;
    padding: 5px;
}

/*Estilização da GUI de Cadastro e Login*/
.fieldset-cadastro {
    background-color: #171e29;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 225px;
    margin: 40px;
    margin-left: auto;
    align-items: center;
}

.fieldset-cadastro legend {
    text-align: center;
    font-size: 15px;
}

.fieldset-cadastro label {
    margin: 8px 16px;
    padding: 5px;
    display: list-item;
    list-style: none;
    font-size: 13px;
}

.fieldset-cadastro input {
    border-radius: 5px;
    border: none;
    display: block;
    margin:  0px auto;
    padding: 5px;
}

.fieldset-cadastro hr {
    width: 75%;
    margin: 0px auto;
}

.button-cadastro {
    text-align: center;
}

.button-cadastro button {
    font-family: "Century Gothic";
    width: 55%;
    display: block;
    margin: 20px auto;
    border: none;
    background-color: #2ae959;
    color: #141414;
    padding: 8px 16px;
    border-radius: 15px;
}

.button-cadastro button[id="google"]{
    background-color: white;
}

.radio-cadastro {
    display: flex;
    justify-content: center;
}

.radio-cadastro input {
    margin: 0 5px;
}

.radio-cadastro label {
    margin: 20px 1px;
    font-size: 13px;
}
